@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Heebo Medium";
  src: url("../fonts/Heebo-Medium.ttf") format("truetype"); }
@font-face {
  font-family: "Heebo Light";
  src: url("../fonts/Heebo-Light.ttf") format("truetype"); }
@font-face {
  font-family: "Heebo Black";
  src: url("../fonts/Heebo-Black.ttf") format("truetype"); }
.large-title {
  -fx-font-family: "Heebo Black";
  -fx-font-size: 34px; }

.title1 {
  -fx-font-family: "Heebo Black";
  -fx-font-size: 24px; }

.title2 {
  -fx-font-family: "Heebo Black";
  -fx-font-size: 20px; }

.title3 {
  -fx-font-family: "Heebo Black";
  -fx-font-size: 16px; }

.paragraph {
  -fx-font-family: "Heebo";
  -fx-font-size: 14px; }

.paragraph-light {
  -fx-font-family: "Heebo Light";
  -fx-font-size: 14px; }

.paragraph-medium {
  -fx-font-family: "Heebo Medium";
  -fx-font-size: 14px; }

.textfield {
  -fx-font-family: "Heebo Light";
  -fx-font-size: 13px; }

.footnote {
  -fx-font-family: "Heebo Light";
  -fx-font-size: 12px; }

.shadow-root {
  -fx-background-color: transparent;
  -fx-padding: 10;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.35), 10, 0, 1, 0); }

.button-shadow-green {
  -fx-background-color: white;
  -fx-effect: dropshadow(two-pass-box, rgba(74, 201, 89, 0.7), 20, 0, -0.06, 1.5); }

.button-shadow-blue {
  -fx-background-color: white;
  -fx-effect: dropshadow(two-pass-box, rgba(0, 132, 255, 0.4), 20, 0, -0.06, 2); }

.button-shadow-white {
  -fx-background-color: #e8e8e8;
  -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.2), 20, 0, -0.06, 2); }

.date-picker > .arrow-button {
  -fx-background-color: #F0F0F0;
  -fx-background-insets: 1 1 1 0, 1, 2;
  -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 1 1 0; }

.date-picker > .text-field {
  -fx-background-color: #F0F0F0;
  -fx-background-insets: 1 0 1 1;
  -fx-background-radius: 2 0 0 2; }

.date-picker:focused {
  -fx-background-color: #F0F0F0;
  -fx-background-insets: -0.2;
  -fx-background-radius: 3; }

.date-picker:focused > .text-field,
.date-picker > .text-field:focused {
  -fx-background-color: #F0F0F0;
  -fx-border-color: #F0F0F0;
  -fx-background-insets: 1 0 1 1, 1 0 1 1, 3 2 3 3;
  -fx-background-radius: 2 0 0 2, 1 0 0 1, 0; }

.date-picker:focused > .arrow-button {
  -fx-background-color: #F0F0F0;
  -fx-background-insets: 1, 2, 1, 2.6;
  -fx-background-radius: 0 2 2 0, 0 1 1 0, 0 1 1 0, 0 1 1 0; }

.date-picker-popup {
  -fx-background-color: #F0F0F0;
  -fx-background-insets: 0, 1;
  -fx-background-radius: 0;
  -fx-alignment: CENTER;
  /* VBox */
  -fx-spacing: 0;
  /* VBox */
  -fx-padding: 0.083333em;
  /* 1 1 1 1 */
  -fx-font-family: "Heebo Light";
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 12, 0, 0, 8); }

.date-picker-popup > .month-year-pane {
  -fx-padding: 0.588883em 0.5em 0.666667em 0.5em;
  -fx-background-color: #F0F0F0;
  /*$dark-blue, linear-gradient(to top right, reflect, $dark-blue, $light-blue);*/
  -fx-background-insets: 0 0 0 0, 0 0 1 0;
  -fx-text-fill: #F0F0F0; }

.date-picker-popup > * > .spinner > .button {
  -fx-background-color: transparent;
  -fx-background-insets: 0, 1, 2;
  -fx-color: transparent;
  -fx-background-radius: 0; }

.date-picker-popup > .calendar-grid {
  -fx-background-color: #F0F0F0;
  /*derive($dark-blue, 60%);*/
  -fx-padding: 0;
  -fx-text-fill: #0084ff; }

.date-picker-popup > * > .spinner > .label {
  -fx-alignment: CENTER;
  -fx-font-family: "Heebo Light";
  -fx-font-size: 12px; }

.date-picker-popup > * > .day-name-cell,
.date-picker-popup > * > .week-number-cell {
  -fx-font-size: 12px; }

.date-picker-popup > * > .spinner > .button > .left-arrow,
.date-picker-popup > * > .spinner > .button > .right-arrow {
  -fx-background-color: #0084ff, derive(#0084ff, -45%);
  -fx-background-insets: 1 0 -1 0, 0;
  -fx-padding: 0.333333em 0.166667em 0.333333em 0.166667em;
  /* 4 2 4 2 */
  -fx-effect: dropshadow(two-pass-box, #0084ff, 1, 0, 0, 1.4); }

.date-picker-popup > * > .week-number-cell {
  -fx-padding: 0.333333em 0.583333em 0.333333em 0.583333em;
  /* 4 7 4 7 */
  -fx-border-color: #F0F0F0;
  -fx-border-width: 1px;
  -fx-background: transparent;
  -fx-text-fill: black; }

.date-picker-popup > * > .day-cell {
  -fx-padding: 4 7 4 7;
  -fx-border-width: 1px;
  -fx-font-size: 1em;
  -fx-background-color: #F0F0F0;
  /* $dark-blue, linear-gradient(to top right, reflect, $dark-blue, $light-blue);*/
  -fx-text-fill: black; }

.date-picker-popup > * > .day-cell:focused,
.date-picker-popup > * > .today:focused {
  -fx-background-color: #0084ff;
  -fx-background-insets: 1, 2, 3;
  -fx-text-fill: #F0F0F0; }

.date-picker-popup > * > .today {
  -fx-background-color: #00c6ff;
  -fx-background-insets: 1, 2, 3;
  -fx-text-fill: #F0F0F0; }

.date-picker-popup > * > .previous-month,
.date-picker-popup > * > .next-month {
  -fx-background: derive(-fx-control-inner-background, -4%); }

.date-picker-popup > * > .day-cell:hover,
.date-picker-popup > * > .selected,
.date-picker-popup > * > .previous-month.selected,
.date-picker-popup > * > .next-month.selected {
  -fx-background-color: #0084ff; }

.date-picker-popup > * > .previous-month:hover,
.date-picker-popup > * > .next-month:hover {
  -fx-background-color: #F0F0F0; }

.date-picker-popup > * > .previous-month,
.date-picker-popup > * > .next-month {
  -fx-text-fill: rgba(0, 0, 0, 0.35); }

.button-label-gray {
  -fx-background-color: transparent;
  -fx-background-radius: 0;
  -fx-text-fill: #ACACAC;
  -fx-font-family: "Heebo Medium";
  -fx-font-size: 14px; }
  .button-label-gray:hover {
    -fx-text-fill: #D1D1D1; }
  .button-label-gray:pressed {
    -fx-text-fill: #ACACAC; }

.button-label-black {
  -fx-background-color: transparent;
  -fx-background-radius: 0;
  -fx-text-fill: #595959;
  -fx-font-family: "Heebo Medium";
  -fx-font-size: 14px; }
  .button-label-black:hover {
    -fx-text-fill: #ACACAC; }
  .button-label-black:pressed {
    -fx-text-fill: #595959; }

.button-label-blue {
  -fx-background-color: white;
  -fx-background-radius: 0;
  -fx-text-fill: #0084ff;
  -fx-font-family: "Heebo Medium";
  -fx-font-size: 14px; }
  .button-label-blue:hover {
    -fx-text-fill: #006acc; }
  .button-label-blue:pressed {
    -fx-text-fill: #0084ff; }

.button-label-red {
  -fx-background-color: white;
  -fx-background-radius: 0;
  -fx-text-fill: red;
  -fx-font-family: "Heebo Medium";
  -fx-font-size: 14px; }
  .button-label-red:hover {
    -fx-text-fill: #cc0000; }
  .button-label-red:pressed {
    -fx-text-fill: red; }

.button-fill-green {
  -fx-font-family: "Heebo Medium";
  -fx-font-size: 14px;
  -fx-text-fill: white;
  -fx-background-color: #4AC959;
  -fx-background-radius: 3; }
  .button-fill-green:hover {
    -fx-background-color: #21d761; }
  .button-fill-green:pressed {
    -fx-background-color: #4AC959; }

.button-fill-blue {
  -fx-font-family: "Heebo Medium";
  -fx-font-size: 14px;
  -fx-text-fill: white;
  -fx-background-color: #0084ff;
  -fx-background-radius: 3; }
  .button-fill-blue:hover {
    -fx-background-color: #2998ff; }
  .button-fill-blue:pressed {
    -fx-background-color: #0084ff; }

.button-fill-red {
  -fx-font-family: "Heebo Medium";
  -fx-font-size: 14px;
  -fx-text-fill: white;
  -fx-background-color: red;
  -fx-background-radius: 3; }
  .button-fill-red:hover {
    -fx-background-color: #ff2929; }
  .button-fill-red:pressed {
    -fx-background-color: red; }

.button-fill-white {
  -fx-font-family: "Heebo Medium";
  -fx-font-size: 14px;
  -fx-text-fill: black;
  -fx-background-color: white;
  -fx-background-radius: 3; }
  .button-fill-white:hover {
    -fx-background-color: #e6e6e6; }
  .button-fill-white:pressed {
    -fx-background-color: white; }

.button-fill-gray {
  -fx-font-family: "Heebo Medium";
  -fx-font-size: 14px;
  -fx-text-fill: black;
  -fx-background-color: #F0F0F0;
  -fx-background-radius: 3; }
  .button-fill-gray:hover {
    -fx-background-color: #d7d7d7; }
  .button-fill-gray:pressed {
    -fx-background-color: #F0F0F0; }

.button-border-blue {
  -fx-font-family: "Heebo Medium";
  -fx-font-size: 14px;
  -fx-text-fill: #0084ff;
  -fx-background-color: white;
  -fx-background-radius: 3;
  -fx-border-radius: 3;
  -fx-border-color: #0084ff;
  -fx-border-width: 0.8; }
  .button-border-blue:hover {
    -fx-background-color: #f2f2f2; }
  .button-border-blue:pressed {
    -fx-background-color: white; }

.button-border-red {
  -fx-font-family: "Heebo Medium";
  -fx-font-size: 14px;
  -fx-text-fill: red;
  -fx-background-color: white;
  -fx-background-radius: 3;
  -fx-border-radius: 3;
  -fx-border-color: red;
  -fx-border-width: 0.8; }
  .button-border-red:hover {
    -fx-background-color: #f2f2f2; }
  .button-border-red:pressed {
    -fx-background-color: white; }

.textfield-gray {
  -fx-text-fill: black;
  -fx-prompt-text-fill: #878787;
  -fx-background-color: #F0F0F0; }

.bg-transparent {
  -fx-background-color: transparent; }

.bg-white {
  -fx-background-color: white; }

.bg-light-gray {
  -fx-background-color: #F9F9F9; }

.bg-gray {
  -fx-background-color: #F0F0F0; }

/*@mixin backgroundgray{
  .backgroundgray{
    -fx-text-fill: black;
    -fx-prompt-text-fill: darken(lightGray, 30%);
  }
}*/
.corner-pane {
  -fx-background-radius: 3px; }

.white-scroll {
  -fx-background-color: white; }
  .white-scroll .scroll-bar:vertical {
    -fx-pref-width: 8px; }
  .white-scroll .scroll-bar:horizontal {
    -fx-pref-height: 8px; }
  .white-scroll .scroll-bar:horizontal .track,
  .white-scroll .scroll-bar:vertical .track {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-background-radius: 0.0em; }
  .white-scroll .scroll-bar:horizontal .increment-button,
  .white-scroll .scroll-bar:horizontal .decrement-button {
    -fx-background-color: white;
    -fx-background-radius: 0.0em;
    -fx-padding: 0 0 10px 0; }
  .white-scroll .scroll-bar:vertical .increment-button,
  .white-scroll .scroll-bar:vertical .decrement-button {
    -fx-background-color: white;
    -fx-background-radius: 0.0em;
    -fx-padding: 0 10px 0 0; }
  .white-scroll .scroll-bar .increment-arrow,
  .white-scroll .scroll-bar .decrement-arrow {
    -fx-shape: null;
    -fx-padding: 0.15em 0.0; }
  .white-scroll .scroll-bar:vertical .increment-arrow,
  .white-scroll .scroll-bar:vertical .decrement-arrow {
    -fx-shape: null;
    -fx-padding: 0.0 0.15em; }
  .white-scroll .scroll-bar:horizontal .thumb,
  .white-scroll .scroll-bar:vertical .thumb {
    -fx-background-color: #D1D1D1;
    -fx-background-insets: 1.0, 0.0, 0.0;
    -fx-background-radius: 2.0em; }
  .white-scroll .scroll-bar:horizontal .thumb:hover,
  .white-scroll .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #ACACAC;
    -fx-background-insets: 1.0, 0.0, 0.0;
    -fx-background-radius: 2.0em; }

.gradient-label {
  -fx-background-color: #0084ff, linear-gradient(to right bottom, reflect, #0084ff, #00c6ff); }
