@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Heebo Medium";
  src: url("../fonts/Heebo-Medium.ttf") format("truetype"); }
@font-face {
  font-family: "Heebo Light";
  src: url("../fonts/Heebo-Light.ttf") format("truetype"); }
@font-face {
  font-family: "Heebo Black";
  src: url("../fonts/Heebo-Black.ttf") format("truetype"); }
.backgroundWhite {
  -fx-background-color: white; }

.textFieldGrey {
  -fx-text-fill: black;
  -fx-prompt-text-fill: #878787;
  -fx-background-color: #F0F0F0; }

.textField {
  -fx-font-family: "Heebo Light";
  -fx-font-size: 13px; }

.buttonFillBlue {
  -fx-font-family: "Heebo Medium";
  -fx-font-size: 14px;
  -fx-text-fill: #0084ff;
  -fx-background-color: white;
  -fx-background-radius: 3; }
  .buttonFillBlue:hover {
    -fx-text-fill: #0084ff;
    -fx-background-color: #e6e6e6;
    -fx-background-radius: 3; }
  .buttonFillBlue:pressed {
    -fx-text-fill: #0084ff;
    -fx-background-color: white;
    -fx-background-radius: 3; }

.buttonBlue {
  -fx-font-family: "Heebo Medium";
  -fx-font-size: 14px;
  -fx-text-fill: white;
  -fx-background-color: #0084ff;
  -fx-background-radius: 3; }
  .buttonBlue:hover {
    -fx-text-fill: white;
    -fx-background-color: #2998ff;
    -fx-background-radius: 3; }
  .buttonBlue:pressed {
    -fx-text-fill: white;
    -fx-background-color: #0084ff;
    -fx-background-radius: 3; }

.title3 {
  -fx-font-family: "Heebo Black";
  -fx-font-size: 16px; }

.paragraph {
  -fx-font-family: "Heebo";
  -fx-font-size: 14px; }
