/*
@mixin backgroundTransparent {
  .backgroundTransparent {
    -fx-background-color: transparent;
  }
}

@mixin backgroundWhite {
  .backgroundWhite {
    -fx-background-color: white;
  }
}

@mixin backgroundLight {
  .backgroundLight {
    -fx-background-color: $ghost-white; //TODO: cambio
  }
}
*/
@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Heebo Medium";
  src: url("../fonts/Heebo-Medium.ttf") format("truetype"); }
@font-face {
  font-family: "Heebo Light";
  src: url("../fonts/Heebo-Light.ttf") format("truetype"); }
@font-face {
  font-family: "Heebo Black";
  src: url("../fonts/Heebo-Black.ttf") format("truetype"); }
.customRadioButton {
  -fx-label-padding: 0.0em 0.0em 0.0em 0.416667em;
  /* 0 0 0 5 */
  -fx-text-fill: #8a8a8a; }

.customRadioButton > .radio {
  -fx-background-color: transparent;
  -fx-border-color: #bdbdbd;
  -fx-border-width: 1px;
  -fx-border-radius: 1.0em;
  -fx-padding: 0.333333em; }

.customRadioButton:hover > .radio {
  -fx-background-color: #e3e3e3; }

.customRadioButton:armed > .radio {
  -fx-color: #66b5ff; }

/*.customRadioButton:focused > .radio{
  -fx-border-color: $gray;
  -fx-border-width: 1px;
  -fx-border-radius: 1.0em;
  -fx-padding: 0.333333em;
  -fx-background-insets: -0.2, 1, 2, -1.4, 2.6;
  -fx-background-radius: 3, 2, 1, 4, 1;
}*/
.customRadioButton:selected > .radio > .dot {
  -fx-background-color: #00c6ff, #0084ff;
  -fx-background-insets: 1 0 -1 0, 0;
  -fx-alignment: CENTER; }

.customSpinner {
  -fx-background-color: #F0F0F0;
  -fx-prompt-text-fill: #878787;
  -fx-text-fill: #F0F0F0;
  -fx-background-insets: 0, 1;
  -fx-background-radius: 3, 2; }

.customSpinner:focused,
.customSpinner:contains-focus {
  -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
  -fx-background-insets: -0.2, 1, 2, -1.4, 2.6;
  -fx-background-radius: 3, 2, 1, 4, 1;
  -fx-focus-color: #cacaca;
  -fx-faint-focus-color: #cacaca; }

.customSpinner > .text-field {
  -fx-background-color: #F0F0F0;
  -fx-prompt-text-fill: #878787;
  -fx-text-fill: #F0F0F0;
  -fx-background-insets: 0, 1 0 1 1;
  -fx-background-radius: 3 0 0 3, 2 0 0 2; }

.customSpinner:focused > .text-field,
.customSpinner:contains-focus > .text-field {
  -fx-background-color: #F0F0F0;
  -fx-prompt-text-fill: #878787;
  -fx-text-fill: #F0F0F0;
  -fx-background-insets: 1 0 1 1, 1 0 1 1, 3 2 3 3;
  -fx-background-radius: 2 0 0 2, 1 0 0 1, 0; }

.customSpinner .increment-arrow-button {
  -fx-background-color: #F0F0F0;
  /*Change the two 0's here to -1 to get rid of the horizontal line */
  -fx-background-insets: 0 0 -1 0, 1 1 0 1, 2 2 1 2;
  -fx-background-radius: 0 3 0 0, 0 2 0 0, 0 1 0 0;
  -fx-padding: 0.333335em 0.666667em 0.333335em 0.666667em;
  /* 5 8 3 8 */ }

.customSpinner .decrement-arrow-button {
  -fx-background-color: #F0F0F0;
  -fx-background-insets: 0, 1 1 1 1, 1 2 2 2;
  -fx-background-radius: 0 0 3 0, 0 0 2 0, 0 0 1 0;
  -fx-padding: 0.333335em 0.666667em 0.333335em 0.666667em;
  /* 3 8 5 8 */ }

.customSpinner:focused .increment-arrow-button,
.customSpinner:contains-focus .increment-arrow-button,
.customSpinner:focused .decrement-arrow-button,
.customSpinner:contains-focus .decrement-arrow-button {
  -fx-background-color: #0084ff; }

.customSpinner:focused .increment-arrow-button .increment-arrow {
  -fx-background-color: #c6c6c6; }

.customSpinner:focused .decrement-arrow-button .decrement-arrow {
  -fx-background-color: #c6c6c6; }

.customSpinner .increment-arrow-button .increment-arrow {
  -fx-background-color: #0084ff;
  -fx-background-insets: 0 0 -1 0, 0;
  -fx-padding: 0.166667em 0.333333em 0.166667em 0.333333em;
  /* 2 4 2 4 */
  -fx-shape: "M 0 4 h 7 l -3.5 -4 z"; }

.customSpinner .decrement-arrow-button .decrement-arrow {
  -fx-background-color: #0084ff;
  -fx-background-insets: 0 0 -1 0, 0;
  -fx-padding: 0.166667em 0.333333em 0.166667em 0.333333em;
  /* 2 4 2 4 */
  -fx-shape: "M 0 0 h 7 l -3.5 4 z"; }

/* Spinner - Horizontal arrows */
.customSpinner.split-arrows-horizontal .increment-arrow-button .increment-arrow,
.customSpinner.arrows-on-right-horizontal .increment-arrow-button .increment-arrow,
.customSpinner.arrows-on-left-horizontal .increment-arrow-button .increment-arrow {
  -fx-padding: 0.333333em 0.166667em 0.333333em 0.166667em;
  /* 4 2 4 2 */
  -fx-shape: "M 0 0 v 7 l 3.5 -4 z"; }

.customSpinner.split-arrows-horizontal .decrement-arrow-button .decrement-arrow,
.customSpinner.arrows-on-right-horizontal .decrement-arrow-button .decrement-arrow,
.customSpinner.arrows-on-left-horizontal .decrement-arrow-button .decrement-arrow {
  -fx-padding: 0.333333em 0.166667em 0.333333em 0.166667em;
  /* 4 2 4 2 */
  -fx-shape: "M 4 0 v 7 l -4 -3.5 z"; }

/* Spinner - STYLE_CLASS_ARROWS_ON_RIGHT_HORIZONTAL */
.customSpinner.arrows-on-right-horizontal .increment-arrow-button {
  -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 1 1 0;
  -fx-background-insets: 0 0 0 -1, 1 1 1 0, 2 2 2 1; }

.customSpinner.arrows-on-right-horizontal .decrement-arrow-button {
  -fx-background-radius: 0;
  -fx-background-insets: 0, 1, 2; }

/* Spinner - STYLE_CLASS_ARROWS_ON_LEFT_VERTICAL */
.customSpinner.arrows-on-left-vertical > .text-field {
  -fx-background-insets: 0, 1 1 1 0;
  -fx-background-radius: 0 3 3 0, 0 2 2 0; }

.customSpinner.arrows-on-left-vertical .increment-arrow-button {
  -fx-background-radius: 3 0 0 0, 2 0 0 0, 1 0 0 0; }

.customSpinner.arrows-on-left-vertical .decrement-arrow-button {
  -fx-background-radius: 0 0 0 3, 0 0 0 2, 0 0 0 1; }

/* Spinner - STYLE_CLASS_ARROWS_ON_LEFT_HORIZONTAL */
.customSpinner.arrows-on-left-horizontal > .text-field {
  -fx-background-insets: 0, 1 1 1 0;
  -fx-background-radius: 0 3 3 0, 0 2 2 0; }

.customSpinner.arrows-on-left-horizontal .increment-arrow-button {
  -fx-background-insets: 0 0 0 -1, 1 1 1 0, 2 2 2 1;
  -fx-background-radius: 0; }

.customSpinner.arrows-on-left-horizontal .decrement-arrow-button {
  -fx-background-insets: 0, 1, 2;
  -fx-background-radius: 3 0 0 3, 2 0 0 2, 1 0 0 1; }

.customSpinner.arrows-on-left-vertical:focused > .text-field,
.customSpinner.arrows-on-left-vertical:contains-focus > .text-field,
.customSpinner.arrows-on-left-horizontal:focused > .text-field,
.customSpinner.arrows-on-left-horizontal:contains-focus > .text-field {
  -fx-background-insets: 1 1 1 0, 1 1 1 0, 3 3 3 2; }

/* Spinner - STYLE_CLASS_SPLIT_ARROWS_VERTICAL */
.customSpinner.split-arrows-vertical > .text-field {
  -fx-background-insets: 0, 0 1 0 1;
  -fx-background-radius: 0, 0; }

.customSpinner.split-arrows-vertical .increment-arrow-button {
  -fx-background-insets: 0, 1, 2;
  -fx-background-radius: 3 3 0 0, 2 2 0 0, 1 1 0 0; }

.customSpinner.split-arrows-vertical .decrement-arrow-button {
  -fx-background-insets: 0, 1, 2;
  -fx-background-radius: 0 0 3 3, 0 0 2 2, 0 0 1 1; }

.customSpinner.split-arrows-vertical:focused > .text-field,
.customSpinner.split-arrows-vertical:contains-focus > .text-field {
  -fx-background-insets: 0 1 0 1, 0 1 0 1, 2 3 2 3; }

/* Spinner - STYLE_CLASS_SPLIT_ARROWS_HORIZONTAL */
.customSpinner.split-arrows-horizontal > .text-field {
  -fx-background-insets: 0, 1 0 1 0;
  -fx-background-radius: 0, 0; }

.customSpinner.split-arrows-horizontal .increment-arrow-button {
  -fx-background-insets: 0, 1, 2;
  -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 1 1 0; }

.customSpinner.split-arrows-horizontal .decrement-arrow-button {
  -fx-background-insets: 0, 1, 2;
  -fx-background-radius: 3 0 0 3, 2 0 0 2, 1 0 0 1; }

.customSpinner.split-arrows-horizontal:focused > .text-field,
.customSpinner.split-arrows-horizontal:contains-focus > .text-field {
  -fx-background-insets: 1 0 1 0, 1 0 1 0, 3 2 3 2; }

.backgroundWhite {
  -fx-background-color: white; }

.title1 {
  -fx-font-family: "Heebo Black";
  -fx-font-size: 24px; }

.title3 {
  -fx-font-family: "Heebo Black";
  -fx-font-size: 16px; }

.paragraph {
  -fx-font-family: "Heebo";
  -fx-font-size: 14px; }

.buttonBlue {
  -fx-font-family: "Heebo Medium";
  -fx-font-size: 14px;
  -fx-text-fill: white;
  -fx-background-color: #0084ff;
  -fx-background-radius: 3; }
  .buttonBlue:hover {
    -fx-text-fill: white;
    -fx-background-color: #2998ff;
    -fx-background-radius: 3; }
  .buttonBlue:pressed {
    -fx-text-fill: white;
    -fx-background-color: #0084ff;
    -fx-background-radius: 3; }

.buttonFillBlue {
  -fx-font-family: "Heebo Medium";
  -fx-font-size: 14px;
  -fx-text-fill: #0084ff;
  -fx-background-color: white;
  -fx-background-radius: 3; }
  .buttonFillBlue:hover {
    -fx-text-fill: #0084ff;
    -fx-background-color: #e6e6e6;
    -fx-background-radius: 3; }
  .buttonFillBlue:pressed {
    -fx-text-fill: #0084ff;
    -fx-background-color: white;
    -fx-background-radius: 3; }
