/*
@mixin backgroundTransparent {
  .backgroundTransparent {
    -fx-background-color: transparent;
  }
}

@mixin backgroundWhite {
  .backgroundWhite {
    -fx-background-color: white;
  }
}

@mixin backgroundLight {
  .backgroundLight {
    -fx-background-color: $ghost-white; //TODO: cambio
  }
}
*/
@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Heebo Medium";
  src: url("../fonts/Heebo-Medium.ttf") format("truetype"); }
@font-face {
  font-family: "Heebo Light";
  src: url("../fonts/Heebo-Light.ttf") format("truetype"); }
@font-face {
  font-family: "Heebo Black";
  src: url("../fonts/Heebo-Black.ttf") format("truetype"); }
.custom-combo-box .list-cell {
  -fx-background: white;
  -fx-background-color: transparent;
  -fx-font-family: "Heebo Medium";
  -fx-font-size: 13px;
  -fx-border-radius: 3px; }

.custom-combo-box .combo-box-popup .list-view {
  -fx-background-color: white, white;
  -fx-font-family: "Heebo Medium";
  -fx-font-size: 13px; }

.custom-combo-box .combo-box-popup .list-view .list-cell {
  /* No alternate highlighting */
  -fx-background-color: white;
  -fx-border-width: 0 0 .25 0;
  -fx-border-color: rgba(0, 0, 0, 0.3);
  -fx-font-family: "Heebo Medium";
  -fx-font-size: 13px; }

.custom-combo-box .combo-box-popup .list-view .list-cell:filled:selected,
.custom-combo-box .combo-box-popup .list-view .list-cell:filled:selected:hover {
  -fx-background: white;
  -fx-background-color: white;
  -fx-prompt-text-fill: #F0F0F0; }

.custom-combo-box .combo-box-popup .list-view .list-cell:filled:hover {
  -fx-background-color: white;
  -fx-prompt-text-fill: #F0F0F0; }

.custom-combo-box .combo-box-base {
  -fx-background-color: white, white, white, white;
  -fx-prompt-text-fill: #F0F0F0; }

.custom-combo-box .combo-box-base:hover {
  -fx-color: white; }

.custom-combo-box .combo-box-base:showing {
  -fx-color: white; }

.custom-combo-box .combo-box-base:focused {
  -fx-background-color: white; }

.custom-combo-box .combo-box-base:disabled {
  -fx-opacity: .4; }

.gray-combo-box .combo-box-popup .list-view {
  -fx-background-color: white, white;
  -fx-font-family: "Heebo Medium";
  -fx-font-size: 13px; }

.gray-combo-box:editable > .arrow-button {
  -fx-background-color: #F0F0F0;
  -fx-background-insets: 1 1 1 0, 1, 2;
  -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 1 1 0; }

.gray-combo-box:editable > .text-field {
  -fx-background-color: #F0F0F0;
  -fx-background-insets: 1 0 1 1;
  -fx-background-radius: 2 0 0 2; }

.gray-combo-box:editable:focused {
  -fx-background-color: #F0F0F0;
  -fx-background-insets: -0.2;
  -fx-background-radius: 3; }

.gray-combo-box:editable:focused > .text-field,
.gray-combo-box:editable > .text-field:focused {
  -fx-background-color: #F0F0F0;
  -fx-border-color: #F0F0F0;
  -fx-background-insets: 1 0 1 1, 1 0 1 1, 3 2 3 3;
  -fx-background-radius: 2 0 0 2, 1 0 0 1, 0; }

.gray-combo-box:editable:focused > .arrow-button {
  -fx-background-color: #F0F0F0;
  -fx-background-insets: 1, 2, 1, 2.6;
  -fx-background-radius: 0 2 2 0, 0 1 1 0, 0 1 1 0, 0 1 1 0; }

.rrhh-table {
  -fx-border-color: white;
  -fx-font-family: "Heebo Light";
  -fx-font-size: 12px;
  -fx-table-cell-border-color: #F0F0F0;
  -fx-control-inner-background-alt: -fx-control-inner-background; }

.rrhh-table .column-header,
.rrhh-table .filler,
.rrhh-table > .column-header-background > .show-hide-columns-button {
  -fx-background-color: #F0F0F0, white, white;
  -fx-background-insets: 0, 0 1 1 0, 1 1 1 1;
  -fx-size: 45px; }

.rrhh-table .filler {
  -fx-padding: 5; }

.rrhh-table .column-header .arrow {
  -fx-background-color: gray; }

.rrhh-table .column-header .label {
  -fx-text-fill: gray;
  -fx-font-family: "Heebo Medium";
  -fx-font-size: 12px;
  -fx-alignment: CENTER; }

.rrhh-table .cell {
  -fx-text-fill: #595959;
  -fx-alignment: CENTER;
  -fx-border-width: 0;
  -fx-cell-size: 40px; }

.rrhh-table .table-row-cell {
  -fx-border-width: 0; }

.rrhh-table .table-row-cell:selected {
  -fx-background-color: #F0F0F0;
  -fx-border-width: 0; }

/* scroll bar starts here */
/* The increment and decrement button CSS class of scrollbar */
.rrhh-table .increment-button,
.rrhh-table .decrement-button {
  -fx-background-color: transparent;
  -fx-background-radius: 2em; }

.buttonBlue {
  -fx-font-family: "Heebo Medium";
  -fx-font-size: 14px;
  -fx-text-fill: white;
  -fx-background-color: #0084ff;
  -fx-background-radius: 3; }
  .buttonBlue:hover {
    -fx-text-fill: white;
    -fx-background-color: #2998ff;
    -fx-background-radius: 3; }
  .buttonBlue:pressed {
    -fx-text-fill: white;
    -fx-background-color: #0084ff;
    -fx-background-radius: 3; }

.buttonWhite {
  -fx-font-family: "Heebo Medium";
  -fx-font-size: 14px;
  -fx-text-fill: black;
  -fx-background-color: white;
  -fx-background-radius: 3; }
  .buttonWhite:hover {
    -fx-text-fill: black;
    -fx-background-color: #e6e6e6;
    -fx-background-radius: 3; }
  .buttonWhite:pressed {
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-background-radius: 3; }

.buttonWhiteShadow {
  -fx-background-color: white;
  -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.2), 20, 0, -0.06, 2); }

.textField {
  -fx-font-family: "Heebo Light";
  -fx-font-size: 13px; }

.backgroundLight {
  -fx-background-color: #F9F9F9; }

.textFieldGrey {
  -fx-text-fill: black;
  -fx-prompt-text-fill: #878787;
  -fx-background-color: #F0F0F0; }
