/*
@mixin backgroundTransparent {
  .backgroundTransparent {
    -fx-background-color: transparent;
  }
}

@mixin backgroundWhite {
  .backgroundWhite {
    -fx-background-color: white;
  }
}

@mixin backgroundLight {
  .backgroundLight {
    -fx-background-color: $ghost-white; //TODO: cambio
  }
}
*/
@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Heebo Medium";
  src: url("../fonts/Heebo-Medium.ttf") format("truetype"); }
@font-face {
  font-family: "Heebo Light";
  src: url("../fonts/Heebo-Light.ttf") format("truetype"); }
@font-face {
  font-family: "Heebo Black";
  src: url("../fonts/Heebo-Black.ttf") format("truetype"); }
.custom-combo-box .list-cell {
  -fx-background: white;
  -fx-background-color: transparent;
  -fx-font-family: "Heebo Medium";
  -fx-font-size: 13px;
  -fx-border-radius: 3px; }

.custom-combo-box .combo-box-popup .list-view {
  -fx-background-color: white, white;
  -fx-font-family: "Heebo Medium";
  -fx-font-size: 13px; }

.custom-combo-box .combo-box-popup .list-view .list-cell {
  /* No alternate highlighting */
  -fx-background-color: white;
  -fx-border-width: 0 0 .25 0;
  -fx-border-color: rgba(0, 0, 0, 0.3);
  -fx-font-family: "Heebo Medium";
  -fx-font-size: 13px; }

.custom-combo-box .combo-box-popup .list-view .list-cell:filled:selected,
.custom-combo-box .combo-box-popup .list-view .list-cell:filled:selected:hover {
  -fx-background: white;
  -fx-background-color: white; }

.custom-combo-box .combo-box-popup .list-view .list-cell:filled:hover {
  -fx-background-color: white;
  -fx-text-fill: -fx-text-inner-color; }

.custom-combo-box .combo-box-base {
  -fx-background-color: white, white, white, white; }

.custom-combo-box .combo-box-base:hover {
  -fx-color: white; }

.custom-combo-box .combo-box-base:showing {
  -fx-color: white; }

.custom-combo-box .combo-box-base:focused {
  -fx-background-color: white; }

.custom-combo-box .combo-box-base:disabled {
  -fx-opacity: .4; }

.rrhh-table {
  -fx-background-color: white;
  -fx-font-family: "Heebo Light";
  -fx-font-size: 12px; }

.rrhh-table .column-header,
.rrhh-table .column-header-background .filler {
  -fx-background-color: white; }

.rrhh-table .column-header .arrow {
  -fx-background-color: gray; }

.rrhh-table .column-header .label {
  -fx-padding: 0px 0px 0px 8px;
  -fx-text-fill: gray;
  -fx-font-family: "Heebo Medium";
  -fx-font-size: 12px;
  -fx-alignment: CENTER_LEFT; }

.rrhh-table .cell {
  -fx-padding: 0px 0px 0px 8px;
  -fx-text-fill: #595959;
  -fx-alignment: CENTER_LEFT; }

/*.table-row-cell:selected {
  -fx-background-color: whitesmoke;
  -fx-text-background-color:  #6622CC;
}*/
/* scroll bar starts here */
/* The increment and decrement button CSS class of scrollbar */
.rrhh-table .increment-button, .table-view .decrement-button {
  -fx-background-color: transparent;
  -fx-background-radius: 2em; }

.custom-scroll .scroll-pane {
  -fx-background-color: transparent; }

.custom-scroll .scroll-bar:vertical {
  -fx-pref-width: 8px; }

.custom-scroll .scroll-bar:horizontal {
  -fx-pref-height: 8px; }

.custom-scroll .scroll-bar:horizontal .track,
.custom-scroll .scroll-bar:vertical .track {
  -fx-background-color: white;
  -fx-border-color: white;
  -fx-background-radius: 0.0em;
  -fx-border-radius: 2.0em; }

.custom-scroll .scroll-bar:horizontal .increment-button,
.custom-scroll .scroll-bar:horizontal .decrement-button {
  -fx-background-color: white;
  -fx-background-radius: 0.0em;
  -fx-padding: 0 0 10px 0; }

.custom-scroll .scroll-bar:vertical .increment-button,
.custom-scroll .scroll-bar:vertical .decrement-button {
  -fx-background-color: white;
  -fx-background-radius: 0.0em;
  -fx-padding: 0 10px 0 0; }

.custom-scroll .scroll-bar .increment-arrow,
.custom-scroll .scroll-bar .decrement-arrow {
  -fx-shape: null;
  -fx-padding: 0.15em 0.0; }

.custom-scroll .scroll-bar:vertical .increment-arrow,
.custom-scroll .scroll-bar:vertical .decrement-arrow {
  -fx-shape: null;
  -fx-padding: 0.0 0.15em; }

.custom-scroll .scroll-bar:horizontal .thumb,
.custom-scroll .scroll-bar:vertical .thumb {
  -fx-background-color: #D1D1D1;
  -fx-background-insets: 1.0, 0.0, 0.0;
  -fx-background-radius: 2.0em; }

.custom-scroll .scroll-bar:horizontal .thumb:hover,
.custom-scroll .scroll-bar:vertical .thumb:hover {
  -fx-background-color: #ACACAC;
  -fx-background-insets: 1.0, 0.0, 0.0;
  -fx-background-radius: 2.0em; }

.buttonBlue {
  -fx-font-family: "Heebo Medium";
  -fx-font-size: 14px;
  -fx-text-fill: white;
  -fx-background-color: #0084ff;
  -fx-background-radius: 3; }
  .buttonBlue:hover {
    -fx-text-fill: white;
    -fx-background-color: #2998ff;
    -fx-background-radius: 3; }
  .buttonBlue:pressed {
    -fx-text-fill: white;
    -fx-background-color: #0084ff;
    -fx-background-radius: 3; }

.buttonWhite {
  -fx-font-family: "Heebo Medium";
  -fx-font-size: 14px;
  -fx-text-fill: black;
  -fx-background-color: white;
  -fx-background-radius: 3; }
  .buttonWhite:hover {
    -fx-text-fill: black;
    -fx-background-color: #e6e6e6;
    -fx-background-radius: 3; }
  .buttonWhite:pressed {
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-background-radius: 3; }

.buttonWhiteShadow {
  -fx-background-color: white;
  -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.2), 20, 0, -0.06, 2); }

.textField {
  -fx-font-family: "Heebo Light";
  -fx-font-size: 13px; }

.backgroundLight {
  -fx-background-color: #F9F9F9; }

.textFieldGrey {
  -fx-text-fill: black;
  -fx-prompt-text-fill: #878787;
  -fx-background-color: #F0F0F0; }
