$dark-blue: #007aFF;
$light-blue: #09c6f9;

$red: #ff3b30;
$dark-red: #c40a00;

$yellow: #ffcc00;
$dark-yellow: #bf9900;

$green: #4cd964;
$dark-green: #23a93a;

$green-button: #28CE96;
$light-green-button: #3DE8AF;

$gray-shadow: rgba(0,0,0,0.4);

@mixin blue-gradient($side: to top right) {
  -fx-background-color: $dark-blue, linear-gradient($side, reflect, $dark-blue, $light-blue);
}

.backgroundTransparent {
  -fx-background-color: transparent;
}

.backgroundWhite {
  -fx-background-color: white;
}

.backgroundLight {
  -fx-background-color: #F9F9F9;
}

