.listViewGrey {
  -fx-text-fill: black;
  -fx-prompt-text-fill: #5C5C5C;
  -fx-background-color: #F9F9F9;
  -fx-background-insets: 0;
  -jfx-vertical-gap: 10;
}

.listViewGrey .jfx-list-cell {
  -fx-text-fill: black;
  -fx-background-color: white;
  -fx-border-width: 0 0 .25 0;
  -fx-border-color: rgba(0,0,0,0.3);
  -fx-background-insets: 0.0;
}

.listViewGrey .scroll-pane {
  -fx-background-color: #F9F9F9;
}

.listViewGrey .scroll-bar:vertical {
  -fx-pref-width: 8px;
}

.listViewGrey .scroll-bar:horizontal {
  -fx-pref-height: 8px;
}

.listViewGrey .scroll-bar:horizontal .track,
.listViewGrey .scroll-bar:vertical .track{
  -fx-background-color :#F9F9F9;
  -fx-border-color :#F9F9F9;
  -fx-background-radius : 0.0em;
  -fx-border-radius :2.0em;
}

.listViewGrey .scroll-bar:horizontal .increment-button,
.listViewGrey .scroll-bar:horizontal .decrement-button {
  -fx-background-color :white;
  -fx-background-radius : 0.0em;
  -fx-padding:0 0 10px 0;
}

.listViewGrey .scroll-bar:vertical .increment-button,
.listViewGrey .scroll-bar:vertical .decrement-button {
  -fx-background-color :white;
  -fx-background-radius : 0.0em;
  -fx-padding:0 10px 0 0;
}

.listViewGrey .scroll-bar .increment-arrow,
.listViewGrey .scroll-bar .decrement-arrow {
  -fx-shape : null;
  -fx-padding :0.15em 0.0;
}

.listViewGrey .scroll-bar:vertical .increment-arrow,
.listViewGrey .scroll-bar:vertical .decrement-arrow{
  -fx-shape : null;
  -fx-padding :0.0 0.15em;
}

.listViewGrey .scroll-bar:horizontal .thumb,
.listViewGrey .scroll-bar:vertical .thumb {
  -fx-background-color : #D1D1D1;
  -fx-background-insets : 1.0, 0.0, 0.0;
  -fx-background-radius : 2.0em;
}

.listViewGrey .scroll-bar:horizontal .thumb:hover,
.listViewGrey .scroll-bar:vertical .thumb:hover {
  -fx-background-color : #ACACAC;
  -fx-background-insets : 1.0, 0.0, 0.0;
  -fx-background-radius : 2.0em;
}