@mixin separatorBlueHorizontal {
  #{'.separatorBlueHorizontal'} {
    -fx-border-color: transparent transparent transparent -fx-shadow-highlight-color,
    transparent transparent transparent -fx-text-box-border;
    -fx-background-color: $gray;

  }
}
@mixin separatorBlueVertical {
  #{'.separatorBlueVertical'} {
    -fx-border-color: transparent transparent transparent -fx-shadow-highlight-color,
    transparent transparent transparent -fx-text-box-border;
    -fx-background-color: $gray;
  }
}
