@import '../base/base';
@import "../components/combobox";
@import "../components/datepicker";
@import "../components/buttons";
@import "../components/textfields";
@import "../components/backgrounds";
@import '../components/scrollbar';
@import "../components/tableview";

.top-bar {
  -fx-border-color: $gray;
  -fx-border-width: 0 0 1 0;
}

.white-scroll {
  @include custom-scroll;
}

.corner-pane {
  -fx-background-radius: 3px;
}

.gray-combo-box {
  @include make-combo-box($gray);
}
