@import '../base/base';
@import "../components/datepicker";
@import "../components/buttons";
@import "../components/textfields";
@import "../components/backgrounds";
@import "../components/scrollbar";
@import "../components/tableview";

.top-bar {
  -fx-border-color: $gray;
  -fx-border-width: 0 0 1 0;
}

.white-scroll {
  @include custom-scroll;
}

.corner-pane {
  -fx-background-radius: 3px;
}

@include make-tableview;

.gray-scroll {
  @include custom-scroll($gray);
}