@import '../base/base';
@import "../components/combobox";
@import "../components/buttons";
@import "../components/textfields";
@import "../components/backgrounds";
@import "../components/scrollbar";

@include make-combo-box($gray);

.corner-pane {
  -fx-background-radius: 3px;
}

.white-scroll {
  @include custom-scroll;
}

.top-bar {
   -fx-border-color: $gray;
   -fx-border-width: 0 0 1 0;
 }